In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({'group': ['A']*3+['B']*2,
                 'value': [1,2,3,4,5]})
df

  group  value
0     A      1
1     A      2
2     A      3
3     B      4
4     B      5

In [3]:
gdf=df.groupby(['group'],as_index=False).sum()
gdf

  group  value
0     A      6
1     B      9

In [4]:
df=pd.merge(df,gdf,on=['group'],how='inner')
df

  group  value_x  value_y
0     A        1        6
1     A        2        6
2     A        3        6
3     B        4        9
4     B        5        9

In [5]:
df['normalized']=df['value_x']/df['value_y']
df

  group  value_x  value_y  normalized
0     A        1        6    0.166667
1     A        2        6    0.333333
2     A        3        6    0.500000
3     B        4        9    0.444444
4     B        5        9    0.555556